@charset "utf-8";

html
{
    height:100%;
    margin:0;
    padding:0;
}

body
{
    min-height:100vh;
    margin:0;
    padding:0;
    background-color:black;
    background-image:url('../img/abstract-background-images-for-presentation.jpg');
    background-size:100% 100%;
    background-attachment:fixed;
    background-position:top left;
    background-repeat:no-repeat;
    color:white;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
}

*
{
    box-sizing: border-box;
}

.bounds_container
{
    position:relative;
    opacity:0;
    max-width:1700px;
    min-width:900px;
    min-height:100%;
    margin:0 auto;
    padding-top:98px;
    box-shadow:0px 0px 15px 5px black;
    background-image:url('../img/background_blurred2.jpg');
    background-size:100% 100%;
    background-attachment:fixed;
    background-position:top left;
    background-repeat:no-repeat;
}

.leftCol
{
    opacity:0;
    width:18%;
    height:100%;
    display:block;
    float:left;
    padding:20px;
    font-size:80%;
    background-image:url('../img/background_blurred2_dark.png');
    background-size:100% 100%;
    background-attachment:fixed;
    background-position:top left;
    background-repeat:no-repeat;
    box-shadow:3px 0px 15px 3px black;
}

.rightCol
{
    opacity:0;
    width:82%;
    min-height:500px;
    height:100%;
    display:block;
    float:left;
    position:relative;
    padding:20px;
}

.rightCol #media
{
    max-width:100%;
    display:inline-block;
    position:relative;
    left:50%;
    margin-top:10px;
    margin-bottom:20px;
    transform:translate(-50%, 0%);
    z-index:1;
    cursor:pointer;
}

.imageDetailsTitle
{
    width:40%;
    text-align:left;
}

.imageDetailsSpacer
{
    width:5%;
    text-align:center;
}

.imageDetailsData
{
    width:55%;
    text-align:right;
}

.tagMediaCount
{
    color:rgb(180,180,180);
}

.searchInput
{
    background-color:rgb(100,100,100);
    background-color:rgba(100,100,100,0.8);
    border-color:white;
    border-style:solid;
    border-width:1px;
    color:white;
    padding-left:20px;
}

input, select, textarea, button
{
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

select
{
    font-size:10px;
    background-color:rgb(100,100,100);
    color:white;
}

input[type=submit], input[type=button], button
{
    box-sizing: border-box;
    background-color:rgb(100,100,100);
    border-color:white;
    border-style:solid;
    border-width:1px;
    color:white;
    padding:5px;
    cursor: pointer;
}

.home
{
    position:relative;
    width:60%;
    min-width:600px;
    min-height:100vh;
    text-align:center;
    padding:30px;
    padding-top:100px;
    padding-bottom:0px;
    margin:0 auto;
    background-image:url('../img/background_blurred2_dark.png');
    background-size:100% 100%;
    background-position:right top;
    background-attachment:fixed;
    background-repeat:no-repeat;
    box-shadow:0px 5px 10px 3px black;
    z-index:50;
}

.homeSearchWrapper
{
    width:100%;
    display:inline-block;
}

h2
{
	color:rgb(230,230,230);
	font-size:30px;
	margin:10px;
}

h3
{
	color:rgb(230,230,230);
	font-size:24px;
	margin:10px;
}

.resultsBox
{
	border-radius:5px;
	padding:20px;
	border:1px solid rgb(200,200,200);
	background-color:rgba(255,255,255,0.1);
	color:rgb(30,30,30);
	text-align:left;
	margin-top:30px;
	margin-bottom:30px;
}